page-themes {

.themes_container{
	width: inherit;
	height: auto;
}

.theme_container{
	width: 14rem;
	height: 14rem;

}

.image_container{
	border: 1px solid white;
	width: inherit;
	height: 11.5rem;
	margin-bottom: 1rem;
}

.select_button{
	width: inherit;
	height: 2.5rem;
}

}
